<footer
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
  class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %}"
  role="contentinfo">
  <div class="Container">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Inner">
        {%- for block in section.blocks -%}
          <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'text' -%}
              {%- if block.settings.title != blank -%}
                <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="Footer__Content Rte">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}

              <p style='padding:10px 0px; display:flex; align-items:center;'>
                <a href='https://wa.me/923186852852' target='_blank'>
                  <b style='padding-right:5px; padding-top:5px;'>
                    <svg
                      width="16px"
                      height="16px"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path
                          fill="#fff"
                          fill-rule="nonzero"
                          d="M7.253 18.494l.724.423A7.953 7.953 0 0 0 12 20a8 8 0 1 0-8-8c0 1.436.377 2.813 1.084 4.024l.422.724-.653 2.401 2.4-.655zM2.004 22l1.352-4.968A9.954 9.954 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.954 9.954 0 0 1-5.03-1.355L2.004 22zM8.391 7.308c.134-.01.269-.01.403-.004.054.004.108.01.162.016.159.018.334.115.393.249.298.676.588 1.357.868 2.04.062.152.025.347-.093.537a4.38 4.38 0 0 1-.263.372c-.113.145-.356.411-.356.411s-.099.118-.061.265c.014.056.06.137.102.205l.059.095c.256.427.6.86 1.02 1.268.12.116.237.235.363.346.468.413.998.75 1.57 1l.005.002c.085.037.128.057.252.11.062.026.126.049.191.066a.35.35 0 0 0 .367-.13c.724-.877.79-.934.796-.934v.002a.482.482 0 0 1 .378-.127c.06.004.121.015.177.04.531.243 1.4.622 1.4.622l.582.261c.098.047.187.158.19.265.004.067.01.175-.013.373-.032.259-.11.57-.188.733a1.155 1.155 0 0 1-.21.302 2.378 2.378 0 0 1-.33.288 3.71 3.71 0 0 1-.125.09 5.024 5.024 0 0 1-.383.22 1.99 1.99 0 0 1-.833.23c-.185.01-.37.024-.556.014-.008 0-.568-.087-.568-.087a9.448 9.448 0 0 1-3.84-2.046c-.226-.199-.435-.413-.649-.626-.89-.885-1.562-1.84-1.97-2.742A3.47 3.47 0 0 1 6.9 9.62a2.729 2.729 0 0 1 .564-1.68c.073-.094.142-.192.261-.305.127-.12.207-.184.294-.228a.961.961 0 0 1 .371-.1z" />
                      </g>
                    </svg>
                  </b>
                  +923186852852
                </a>
              </p>

              {%- if block.settings.show_social_media -%}
                {% render 'social-media', class: 'Footer__Social', spacing: 'loose' %}
              {%- endif -%}

              {%- when 'links' -%}
              {%- assign linklist = linklists[block.settings.menu] -%}

              {%- if linklist != empty -%}
                <h2 class="Footer__Title Heading u-h6">{{ linklist.title | escape }}</h2>

                <ul class="Linklist">
                  {%- for link in linklist.links -%}
                    <li class="Linklist__Item">
                      <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

              {%- when 'newsletter' -%}
              {%- if block.settings.title != blank -%}
                <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="Footer__Content Rte">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}

              {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                {%- if form.posted_successfully? -%}
                  <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                {%- else -%}
                  {%- if form.errors -%}
                    <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                  {%- endif -%}

                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div style='display:flex; border:1px solid white; align-items:center;'>
                    <div style='width:85%'>
                      <input style='border:none;' type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                    </div>
                    <div style='width:15%;'>
                      <button style='border:none; outline:none; width:80%; margin:auto; padding:8px 6px 3px 6px;'>
                        <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="5px" y="5px"
 viewBox="0 0 330 330" fill='#fff' style="enable-background:new 0 0 330 330;" xml:space="preserve">
<path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
C255,161.018,253.42,157.202,250.606,154.389z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                      </button>
                {%- endif -%}
              {%- endform -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}


  </div>
  <div  class="Footer__Aside">
    {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
      {%- assign country_selector = true -%}
    {%- endif -%}

    {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
      {%- assign locale_selector = true -%}
    {%- endif -%}

    {%- if locale_selector or country_selector -%}
      <div style="display:none" class="Footer__Localization">
        {%- form 'localization', id: 'localization_form_footer', class: 'Footer__LocalizationForm' -%}
          {%- if country_selector -%}
            <div class="Footer__LocalizationItem">
              <input
                type="hidden"
                name="country_code"
                value="{{ localization.country.iso_code }}">
              <span class="u-visually-hidden">{{ 'footer.general.country' | t }}</span>

              <button
                type="button"
                class="SelectButton Link Link--primary u-h8"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="footer-currency-popover">
                {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                {% if localization.country.currency.symbol %}
                  {{ localization.country.currency.symbol }}{%- endif -%})
                {%- render 'icon', icon: 'select-arrow' -%}
              </button>

              <div
                id="footer-currency-popover"
                class="Popover Popover--small Popover--noWrap"
                aria-hidden="true">
                <header class="Popover__Header">
                  <button
                    type="button"
                    class="Popover__Close Icon-Wrapper--clickable"
                    data-action="close-popover">{% render 'icon' with 'close' %}</button>
                  <span class="Popover__Title Heading u-h4">{{ 'footer.general.country' | t }}</span>
                </header>

                <div class="Popover__Content">
                  <div class="Popover__ValueList Popover__ValueList--center" data-scrollable>
                    {%- for country in localization.available_countries -%}
                      <button
                        type="submit"
                        name="country_code"
                        class="Popover__Value {% if country.iso_code == localization.country.iso_code %}is-selected{% endif %} Heading Link Link--primary u-h6"
                        value="{{ country.iso_code }}"
                        {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}>
                        {{- country.name }} ({{ country.currency.iso_code }}
                        {% if country.currency.symbol %}
                          {{ country.currency.symbol }}{%- endif -%})
                      </button>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}

          {%- if locale_selector -%}
            <div class="Footer__LocalizationItem">
              <input
                type="hidden"
                name="locale_code"
                value="{{ localization.language.iso_code }}">
              <span class="u-visually-hidden">{{ 'footer.general.locale' | t }}</span>

              <button
                type="button"
                class="SelectButton Link Link--primary u-h8"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="footer-locale-popover">
                {{- localization.language.endonym_name -}}
                {%- render 'icon', icon: 'select-arrow' -%}
              </button>

              <div
                id="footer-locale-popover"
                class="Popover Popover--small Popover--noWrap"
                aria-hidden="true">
                <header class="Popover__Header">
                  <button
                    type="button"
                    class="Popover__Close Icon-Wrapper--clickable"
                    data-action="close-popover">{% render 'icon' with 'close' %}</button>
                  <span class="Popover__Title Heading u-h4">{{ 'footer.general.locale' | t }}</span>
                </header>

                <div class="Popover__Content">
                  <div class="Popover__ValueList Popover__ValueList--center" data-scrollable>
                    {%- for language in localization.available_languages -%}
                      <button
                        type="submit"
                        name="locale_code"
                        class="Popover__Value {% if language.iso_code == localization.language.iso_code %}is-selected{% endif %} Heading Link Link--primary u-h6"
                        value="{{ language.iso_code }}"
                        {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
                        {{- language.endonym_name | capitalize -}}
                      </button>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    {%- endif -%} 

    <div class="Footer__Copyright">
      <a href="{{ routes.root_url }}" class="Footer__StoreName Heading u-h7 Link Link--secondary">© {{ shop.name }}</a>

    </div>

    {%- if section.settings.show_payment_methods -%}
      {%- capture payment_methods -%}
        {%- for type in shop.enabled_payment_types -%}
          <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
        {%- endfor -%}
      {%- endcapture -%}

      {%- if payment_methods != blank -%}
        <ul class="Footer__PaymentList HorizontalList">
          {{ payment_methods }}
        </ul>
      {%- endif -%}
    {%- endif -%}
  </div>
</footer>

{%- if settings.footer_background == settings.background -%}
  <style>
    .Footer {
      border-top: 1px solid var(--border-color);
    }
  </style>
{%- endif -%}

{% schema %}
  {
    "name": "Footer",
    "class": "shopify-section--footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_methods",
        "label": "Show payment methods",
        "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/region selector",
        "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Show country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      }, {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text / social media",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "About the shop"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
          }, {
            "type": "checkbox",
            "id": "show_social_media",
            "label": "Show social media",
            "info": "Make sure to have properly configured your social media in the theme settings.",
            "default": true
          }
        ]
      }, {
        "type": "links",
        "name": "Links",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items."
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "text",
          "settings": {}
        }, {
          "type": "links",
          "settings": {
            "menu": "footer"
          }
        }, {
          "type": "newsletter",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}